@import './variables';
@import './dynamic-classes';

// SPACING
.section-mx {
    margin-inline: var(--SECTION-MARGIN-X);
}
.el-space-1 {
    margin-top: var(--EL-SPACE-1);
}
.m-space {
    margin-top: var(--EL-SPACE-2);
}
.div-space{
    margin-top: var(--DIV-SPACE);
}
.section-space{
    margin-top: var(--SECTION-SPACE);
}

// MIXINS
@mixin glow-i($color) {
    color: $color;
    text-shadow: 0 0 10px $color;
}
@mixin de-glow-i() {
    filter: saturate(.1);
    text-shadow: 0 0 10px transparent !important;
}

// ELEMENTS
.btn-1 {
    transition: .2s ease-out;
    font-size: var(--xl);
    font-weight: 600;
    padding: .5em 1.1em;
    border: none;
    border-radius: 8px;
    background-color: transparent;
    color: $white-subtitle;
    box-shadow: 0 0 15px 8px $green-main;
    cursor: pointer;
    &:hover {
        background-color: $green-main;
        box-shadow: 0 0 10px 5px transparent;
    }
} 
.btn-2 {
    transition: .2s;
    font-weight: 600;
    letter-spacing: .5px;
    padding: .5em 1.1em;
    border: 3px solid $white-subtitle;
    border-radius: 8px;
    color: $white-subtitle;
    background-color: transparent;
    cursor: pointer;
    &:hover {
        background-color: $white-subtitle;
        color: $bg-black-1;
    }
}

// Text
.glow-txt {
    color: $white-title;
    // text-shadow: 0 0 10px $lblue-secondary;
    font-weight: 500;
    line-height: 2.3;
}

// TOGGLE CLASSES
.display-none {
    display: none !important;
}