@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import '/src/sass/global';
@import '/src/sass/variables';
@import '/src/sass/utils';
@import '/src/sass/animation';

div.solutions-page {
    nav {
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: $bg-black-1;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding: var(--EL-SPACE-1) var(--SECTION-MARGIN-X);
    }
    
    main {
        text-align: center;
        padding: var(--SECTION-SPACE) var(--SECTION-MARGIN-X);
        background-color: #2a2c2e;
        h1 {
            font-size: calc(var(--xxxl) * 1.3);
        }
        p {
            font-size: calc(var(--m) * 1.3);
        }
    }
    
    .services {
        padding-top: var(--SECTION-SPACE);
        .service {
            // usare colore per evidenziare il testo, utilizzando quelli della carta in "landing"
            margin-top: var(--SECTION-SPACE);
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: var(--SECTION-SPACE);
            gap: var(--EL-SPACE-2);
            img {
                width: 100%;
                aspect-ratio: 1 / 1;
                object-fit: cover;
                border-radius: 25px;
            }
            .description {
                border-bottom: 4px solid $white-subtitle;
                border-radius: 5px;
                padding-bottom: var(--EL-SPACE-2);
                p,ol {
                    margin-top: var(--EL-SPACE-1);
                }
                ul,ol {
                    list-style-position: inside;
                }
            }
        }
        .web-app {
            .glow-txt {
                color: #bf2600;
            }
        }
        .website {
            .glow-txt {
                color: #0076bf;
            }
            .quotes {
                font-style: italic;
                background-color: $bg-black-2;
                border-radius: 10px;
                padding-bottom: 1em;
                padding-inline: 1em;
                i {
                    font-size: 3rem;
                    padding-right: var(--EL-SPACE-1);
                    color: #0076bf;
                    text-shadow: 0 0 10px #0076bf;
    
                }
            }
        }
        .ads {
            .glow-txt {
                color: #bf008c;
            }
            ol.label-layout {
                list-style: none;
                counter-reset: item;
                li {
                    counter-increment: item;
                    margin-top: var(--EL-SPACE-2);
                    display: flex;
                    align-items: center;
                    background-color: $bg-black-2;
                    padding-right: .5em;
                    border-radius: 20px;
                }
                li:before {
                    content: counter(item);
                    color: $white-title;
                    text-shadow: 0 0 10px $lblue-secondary;
                    border-radius: 20px;
                    text-align: center;
                    display: block;
                    flex-basis: 30px;
                    padding: 2rem 1rem;
                    margin-right: 1em;
                    background-color: #bf008c;
                    font-weight: bold;
                }
            }
        }
        .social-media {
            .glow-txt {
                color: #06bf00;
            }
            .cards {
                display: flex;
                flex-direction: column;
                align-items: center;
                .card {
                margin-top: var(--DIV-SPACE);
                    background-color: $bg-black-2;
                    border-radius: 20px;
                    .title {
                        text-align: center;
                        background-color: #06bf00;
                        color: $white-title;
                        padding-block: 1.5em;
                        border-radius: 20px 20px 0 0;
                        i {
                            font-size: var(--xxl);
                            margin-bottom: var(--EL-SPACE-1);
                            text-shadow: 0 0 10px $lblue-secondary;
                        }
                        h3 {
                            font-weight: 600;
                        }
                    }
                    p {
                        margin-top: 0 !important;
                        padding: 1em;
                    }
                }
            }
        }
        .grow {
            .glow-txt {
                color: #bfbc00;
            }
            ul.label-layout {
                list-style: none;
                counter-reset: item;
                li {
                    position: relative;
                    margin-top: var(--DIV-SPACE);
                    padding: 1.2em;
                    align-items: center;
                    background-color: $bg-black-2;
                    border-radius: 0 10px 10px 0;
                    // border-right-color: $green-main;
                    // border-left-color: $green-main;
                    &::before {
                        content: "";
                        top: 0;
                        position: absolute;
                        left: 0;
                        width: 4px;
                        height: 100%;
                        background-color: #bfbc00;
                        border-radius: 25px;
                        box-shadow: -1px 0 3px 1px #bfbc00;
                    }
                }
            }
        }
    }
    
    footer {
        background-color: $bg-black-2;
        padding: var(--EL-SPACE-2) var(--SECTION-MARGIN-X) calc(var(--EL-SPACE-2) * 4);
        text-align: center;
        .nav {
            margin-top: var(--DIV-SPACE);
            word-spacing: .2rem;
            cursor: default;
            a {
                text-decoration: none;
                font-weight: 600;
                color: #6e6e6e;
            }
            .actual-page {
                color: $white-text;
                text-decoration: underline;
            }
        }
        .social-contact {
            margin-top: var(--EL-SPACE-2);
            display: flex;
            justify-content: center;
            gap: var(--xl);
            cursor: default;
            font-size: var(--xxl);
            .icon {
                cursor: pointer;
                &:hover { color: #06bf00; }
            }
        }
        a {
            cursor: pointer;
            color: $white-text;
            line-height: 1.56;
        }
        > p {   // #CONDIDER
            color: #6e6e6e;
            font-weight: 200;
        }
    }
    
    @media screen and (min-width: 900px) {
        main {
            background-size: 2500px;
            background-position-y: -640px;  
        }
        .services {
            .service {
                flex-direction: row;
                &:nth-child(even) {
                    flex-direction: row-reverse;
                } 
                img {
                    width: 500px;
                }
                .description {
                    min-height: 500px;
                }
            }
            .social-media {
                .cards {
                    .card {
                        display: flex;
                        .title {
                            border-radius: 25px;
                            padding: 0;
                            min-width: 100px;
                            aspect-ratio: 1 / 1;
                            align-content: center;
                        }
                    }
                }
            }
        }
        footer {
            .social-contact {
                i.fa-telegram:hover {
                    color:#24A1DE;
                }
                i.fa-instagram:hover {
                    background: linear-gradient(
                        to right,
                        #833ab4, #fd1d1d, #fcb045
                    );
                    -webkit-background-clip: text;
                    background-clip: text;
                    color: transparent;
                    -webkit-text-fill-color: transparent; 
                }
                i.fa-discord:hover {
                    color: #5865F5;
                }
            }
            a:hover {
                color: $green-main;
            }
        }
    }
}
