@import '/src/sass/variables';
@import '/src/sass/animation';

.solutions-page {
    header {
        padding-block: 8rem;
        text-align: center;
        background: linear-gradient(360deg, rgba(24, 52, 22, 0) 0%, rgba(71, 154, 65, 0.8) 100%);
        button {
            cursor: pointer;
            transition: .2s ease-in-out;
            padding: .5rem;
            border-radius: 100%;
            font-size: 1.2rem;
            line-height: 0;
            outline: none;
            background-color: $white-title;
            color: $bg-black-1;
            border: none;

            &:hover {
                background-color: $green-main;
            }
        }
    }
}